/* src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html,
#App {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.scroll-container {
  width: 100%; /* Set your desired width */
  height: 100%; /* Set your desired height */
  overflow-y: scroll; /* Always show scrollbar, even when not needed */
  scrollbar-color: #aaa #eee; /* Color of the scrollbar thumb and track */
}
